vim.api.nvim_create_autocmd("FileType", {
  desc = "Add space to commentstring",
  callback = function()
    local cs = vim.bo.commentstring
    if not cs:match("%%s") then return end
    if not cs:match(" %%s") then
      cs = cs:gsub("%%s", " %%s")
    end
    if not cs:match("%%s ") then
      cs = cs:gsub("%%s", "%%s ")
    end
    vim.bo.commentstring = cs
  end,
})
